.textAreaWrapper {
    position: relative;
}

.textArea {
    padding: 7px 15px;
    color: var(--black);
    border: none;
    outline-color: var(--primary);
    background-color: var(--white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-family);
}

.error {
    border: 1px solid var(--red);
}

.errorMsg {
    position: absolute;
    left: 0;
    top:56px;
    color: var(--red);
}
