.product {
    display: grid;
    grid-template-columns:
		[start] 70px [logoend] 30px [titlestart]  calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px
		 [creditstart] auto [creditend] 40px [ratestart] auto [end];

    margin-top: 30px;
    padding: 30px;
}

.logo {
    grid-column: start / logoend;
    grid-row: 1 /span 2;
}

.title, .tags {
    grid-column: titlestart / middle;
}

.price, .priceTitle {
    grid-column: pricestart / priceend;
}

.credit, .creditTitle {
    grid-column: creditstart / creditend;
}

.rating, .ratingTitle {
    grid-column: ratestart / end;
}

.features {
    grid-column: start / middle;
}

.advBlock {
    grid-column: middle / end;
}

.hr, .desc, .actions {
    grid-column: start/end;
}

.advantages span, .disadvantages span {
    font-weight: 600;
}

.advantages {
    margin-bottom: 14px;
    border-left: 2px solid var(--green);
}

.disadvantages, .advantages {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding-left: 15px;
    margin-bottom: 5px;
}


.disadvantages {
    border-left: 2px solid var(--red);

}

.logo img {
    border-radius: 5px;
}

.title {
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    align-self: flex-end;
}

.price, .credit {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    align-self: flex-end;
}

.rating {
    align-self: flex-end;
}

.priceTitle, .creditTitle, .ratingTitle {
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
    align-self: flex-end;
}

.month {
    font-size: 14px;
    line-height: 19px;
}

.tag {
    margin-top: 7px;
}

.desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
}

.reviewBtn {
    margin-left: 10px;
}

.characteristic {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    padding-right: 60px;
    gap: 10px;
    font-size: 16px;
    line-height: 32px;
}

.characteristicName {
    font-weight: 600;

}

.characteristicDots {
    border-bottom: 1px dashed var(--grey-light);
    margin-bottom: 5px;
}

.characteristicValue {
    font-weight: 500;
}


@media screen and(max-width: 990px) {
    .product {
        grid-template-columns: 70px 30px 1fr;
        grid-template-areas:
			"logo . title"
			"logo . tags"
			"priceTitle priceTitle price"
			"creditTitle creditTitle credit"
			"rateTitle rateTitle rating"
			"hr hr hr"
			"description description description"
			"feature feature feature"
			"advBlock advBlock advBlock"
			"hr2 hr2 hr2"
			"actions actions actions";
    }
    .price {
        margin-bottom: 10px;
    }
    .credit{
        margin-bottom: 10px;
    }
    .rating{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 650px) {
    .product {
        grid-template-columns: 1fr;
        grid-template-areas:
			"logo"
			"title"
			"tags"
			"price"
			"priceTitle"
			"credit"
			"creditTitle"
			"rating"
			"rateTitle"
			"hr"
			"description"
			"feature"
			"advBlock"
			"hr2"
			"actions";
    }
}