.sort {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}

.sort span {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.sort span:not(.active) {
    grid-template-columns: 1fr;
}

.active {
    font-weight: 500;
    color: var(--primary);
}

.active .icon {
    display: block;
    margin-right: 8px;
}

.icon {
    display: none;
}
