.reviewForm{
    display: grid;
    grid-template-columns:[start] auto 1fr auto [end];
    gap: 20px 30px;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
}
.input{
    justify-self: left;
}
.textarea, .btns{
    grid-column: start/end;
}
.rating{
    display: grid;
    grid-template-columns: auto 1fr ;
    gap: 20px;
}
.btns{

}
.info{
    margin-left: 15px;
}
.success{
    background: var(--green-light);
    padding: 20px;
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
}
.successTitle{
    font-weight: bold;
}
.close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.error .close svg{
    fill: var(--red);
}
.success .close svg{
    fill: var(--green-light);
}
.error{
    background: var(--light-red);
    padding: 20px;
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
}
@media screen and (max-width: 1124px) {
    .reviewForm{
        grid-template-columns:[start] 1fr 1fr [end];
    }
    .rating{
        grid-column: start/end;
    }
    .input{
        justify-self:normal;
    }

}
@media screen and (max-width: 650px) {
    .reviewForm{
        grid-template-columns:[start] 1fr [end];
    }
}