:root {
    --black: #3B434E;
    --white: #FFFFFF;
    --primary: #7653FC;
    --primary-hover: #6344df;
    --red: #DE0000;
    --green: #1DC37E;
    --green-light: #C8F8E4;
    --grey:#A4A4A4;
    --grey-light: #EBEBEB;
    --grey-dark: #787D85;
    --font-family: "Noto Sans KR", sans-serif;
}


html,
body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: var(--font-family);
    color: var(--black);
    background: #F5F6F8;
}

body {

}

a {
    color: inherit;
    text-decoration: none;
}